/**************************************************************************************************\
Mise en page
\**************************************************************************************************/

body{
  background: #222222;
  counter-reset: indice_figure;
  margin: 0;
  padding: 0;
  --marge-gauche: 2cm;
  --marge-droite: 2cm;
  --largeur-page: 21cm;
}

@media print {
	body{
  		background: white;
  }
}

section{
  width: var(--largeur-page);
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1cm;
  padding-bottom: 2cm;
  background: white;
  counter-reset: titre_1 indice_tableau;
}

@media print {
  section{
    padding-top: 0cm;
    padding-bottom: 0cm;
  }
}


/**************************************************************************************************\
Titres
\**************************************************************************************************/
h1, h2, h3, h4, h5 {
  color: black;
  font-family: "Times New Roman", serif;
  font-weight: normal;
  page-break-after: avoid;
  break-after: avoid;
}


h1{
  font-size: 2em;
  text-align: center;
  margin-top: 0.5cm;
  margin-bottom: 1cm;
  margin-left: var(--marge-gauche);
  margin-right: var(--marge-droite);
  padding: 0.1cm;
  border: solid 2px black;
}

h2{
  border-bottom: 2px solid black;
  margin: 16pt var(--marge-droite) 0 var(--marge-gauche);
  counter-reset: titre_2;
}
h2:before {
  counter-increment: titre_1;
  content: counter(titre_1)". ";
}
h3{
  border-bottom: 1px solid black;
  margin: 14pt var(--marge-droite) 0 var(--marge-gauche);
  counter-reset: titre_3;
}
h3:before {
  counter-increment: titre_2;
  content: counter(titre_1)"."counter(titre_2)". ";
}
h4{
  font-size: 12pt;
  border-bottom: 1px solid black;
  margin: 12pt var(--marge-droite) 0 var(--marge-gauche);
  counter-reset: titre_4;
}
h4:before {
  counter-increment: titre_3;
  content: counter(titre_1)"."counter(titre_2)"."counter(titre_3)". ";
}
h5{
  font-size: 12pt;
  border-bottom: 1px dashed black;
  margin: 12pt var(--marge-droite) 0 var(--marge-gauche);
}
h5:before {
  counter-increment: titre_4;
  content: counter(titre_1)"."counter(titre_2)"."counter(titre_3)"."counter(titre_4)". ";
}


/**************************************************************************************************\ 
Paragraphes
\**************************************************************************************************/
div:not(.MathJax_Display){
  font-family: "Times New Roman", serif; 
  text-align: justify;
  margin-top: 12pt;
  margin-bottom: 0;
  margin-left: var(--marge-gauche);
  margin-right: var(--marge-droite);
  orphans: 3;
  widows: 3;
}

/* Énumérations */
ul{
  margin: 0;
  padding: 0;
  text-align: justify;
}

ul li{
  list-style-type: none; /* Suppression du bullet*/
}
ul li:before { 
  content: "\2003\2014\2005"; /* espace cadratin, tiret cadratin, espace normale */
}
ul li:not(:has(ul)):after {
  content: "\202f;";
}
ul li:not(:has(ul)):last-child:after {
  content: ".";
}

ul li ul {
  margin: 0;
  padding: 0;
}
ul li ul li:before { 
  content: "\2003\2003\2014\2005";
}
ul li ul li:after {
  content: ",";
}
ul li:not(:last-child) ul li:last-child:after {
  content: "\202f;";
}

ol{
  margin: 0;
}

a{
  color: Black;
}

/* Exposant */
sup {
}

/* Mots étrangers */
i {
  font-style: italic;
}

/* Citations */
q { 
  display: inline;
}
q:before { 
  content: "«\2060\2005\2060";
}
q:after {
  content: "\2060\2005\2060»";
}

/* Modification dans citation */
span.modif:before {
  content: "[\2060";
}
span.modif:after {
  content: "\2060]";
}  

/* Incise */
span.incise:before {
  content: "—\2060\2005\2060";
}
span.incise:after {
  content: "\2060\2005\2060—";
}  

/* Petite capitale */
span.p_cap{
  font-variant: small-caps;
}


/**************************************************************************************************\ 
Images
\**************************************************************************************************/
figure{
  margin-top: 12pt;
  margin-bottom: 12pt;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width : 100%;
}

figcaption{
  margin-left: var(--marge-gauche);
  margin-right: var(--marge-droite);
  text-align: center;
  font-style: italic;
}

figcaption:before{ 
  counter-increment: indice_figure;
  content: "figure\2060\2005\2060"counter(indice_figure)"\202f: ";
}

img{
  margin-top: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  padding: 0;
  max-width : 100%;
}

img.encadree{
  border: 0.0625em solid Gray;
  border-radius: 0.1875em;
}


/**************************************************************************************************\
Relations mathématiques
\**************************************************************************************************/
.MathJax_Display {
  font-family: "Times New Roman", serif;
  text-align: left !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/**************************************************************************************************\
Tableaux
\**************************************************************************************************/
table {
  /* Coller les bordures */
  border-collapse: collapse; 
  
  /* Centrer les tableaux sur la page */
  margin-left: auto; 
  margin-right: auto;
  
  /* Séparer d’avec les autres éléments */
  margin-top: 0.5cm;
  margin-bottom: 0.5cm;
  
  /* Limiter la largeur à la zone d’écriture */
  max-width : calc( var(--largeur-page) - var(--marge-droite) - var(--marge-gauche) );
  
  font-family: "Times New Roman", serif; 
}

/* Titre du tableau */ 
table caption {
  caption-side: bottom;
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}

caption:before{ 
  counter-increment: indice_tableau;
  content: "tableau\2060\2005\2060"counter(indice_tableau)"\202f: ";
}

/* Celulles */
th, td {
  border: 1px solid black;
  text-align: center;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.justifie { text-align: justify; }
